@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set default boarders */
*,
*::before,
*::after{
  box-sizing: border-box;
}
html,
body,
#root,
.app{
  height:100%;
  width: 100%;
  /* @apply - applies styling directly to component */
  @apply text-sm;
  @apply bg-gray-500;
  @apply text-gray-900;
}